*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Arial;
}

.container{
	color:white;
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	background:black;
}
.container form{
	width:670px;
	height:600px;
	display:flex;
	justify-content:center;
	border:solid 2px whitesmoke;
	border-radius:15px;
	background:rgb(255, 255, 255, 0.1);
	backdrop-filter:blur(30px);
	flex-wrap: wrap;	
}
.container form h1{
	color:floralwhite;
	font-weight:700;
	line-height:2;
	margin-left:20px;
	width:500px;
	text-align:center;
}
.container form input{
	width:300px;
	height: 50px;
	padding-left: 10px;
	outline: none;
	border: none;
	font-size: 20px;
	margin-bottom:10px;
	background: none;
	border-bottom: 2px solid ghostwhite;
	color:white;
}
.container form input::placeholder{
	color: white;
}
.container form #apellido,
.container form #telefono{
	margin-left: 20px;
}
.container form h4{
	color:white;
	font-weight:300px;
	width:600px;
	margin-top: 20px;
}
.container form textarea{
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	color:white;
	font-weight: 200;
	font-size: 20px;
	padding:10px;
	outline: none;
	min-height:90px;
	max-height: 90px;
	min-width:620px;
	max-width: 620px;
}
.container form h4{
	font-size:20px;
}
.container form #button{
	border: none;
	background:#fff;
	border-radius: 5px;
	margin-top: 20px;
	font-weight: 600;
	font-size: 24px;
	color: black;
	width: 200px;
	height:60px ;
	padding:0;
	margin-bottom: 30px;
	transition:0.3s;
}
.container form #button:hover{
	background: black;
	color:whitesmoke;
	transition: .5 ease-in-out;
}
.container form a{
	color:antiquewhite;
	text-decoration:none;
}
.check1 ul{
list-style: none;
padding: 0;   
margin:0; /* Añade márgenes superiores e inferiores */
display: flex;
flex-direction: column; /* Alinea los elementos verticalmente */
gap: 10px; /* Añade espacio entre cada checkbox */
}
.check1 li {
	margin-right: 5px;
display: flex;  
align-items: center;
}
input[type="checkbox"] {
	transform: scale(0.3);
}
.footer{
	position:relative;
	width:100%;
	background:skyblue;
	min-height:100px;
	padding:20px 50px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}   .social-icon{
	display: flex;
	justify-content:center;
	align-items:center;
	position: relative;
	margin: 10px 5px;
	flex-wrap: wrap;
		list-style:none;
}    .icon{
	color: white;
	font-size:32px;
	display:inline-block;
	margin: 0 10px;
	transition:0.5s;
}    .icon:hover{
	transform:translatey(-10px);
}   img{
	width:30px;
	height:30px;
}   .menu{
	display:flex;
	justify-content:center;
	position:relative;
	align-items:center;
	margin:10px 0;
	flex-wrap: wrap;
}   .menu-elem{
	list-style:none;

}   .menu-icon{
	color:white;
	font-size:15px;
	display:inline-block;
	margin: 5px 10px;
	opacity: 0.5;
	transition: 0.3s;
}
.menu-icon:hover{
	opacity:1;
}  .text{
	color:white;
	text-align:center;
	margin-top:15px;
	margin-bottom:10px;
	font-size:15px;
}
header{
	background-color:#01c4e7;
	display:flex;
	justify-content:space-between;
	align-items: center;
	height:80px;
}

.logo{
	display:flex;
	align-items: center;
}
.logo img{
	height:70px;
	width:100px;
	margin-left:10px;
}
.logo a{
	margin-left:5px;
	font-weight:bold;
	font-size:1.9em;
	text-decoration: none;
	color:black;
	
}
.logo a:hover{
color:#ff2323;
}


.logo-2 ul{
	height:100%;
	list-style:none;
	padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.logo-2 li{
	display:flex;
	align-items:center;
	 height: 100%;
}
.logo-2 a{
	margin-right:10px;
	 height: 100%;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 0.5em;
    position: relative;
    transition: color 0.3s ease;
}
.logo-2 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: blueviolet;
    transition: width 0.3s ease;
}

.logo-2 a:hover::after {
    width: 100%;

}

.logo-2 a:hover {
    color: blueviolet;
}